body {
    text-align: center;
    background: #0df3a2;
    color: white;
}

.game-header {
    background: black;
    border-radius: 1000px;
    padding: 10px;
    margin: 0 25rem;
}

.dice-panel, 
.player-card {
    background: black;
    border-radius: 1rem;
    padding: 1px;
    color: white;
}

.player-image {
    width: 60px;
}