body {
    text-align: center;
    background: #0df3a2;
    color: white;
}

.status-panel {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.board {
    background: white;
    padding: 1rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.space {
    background: black;
    color: white;
    padding: 0.3rem;
    border-radius: 0.5rem;
    font-weight: bold;
    display: grid;
    place-items: center;
}

[data-category="maantieto"] { background: greenyellow;}
[data-category="yleistieto"] { background: purple;}
[data-category="historia"] { background: rgb(243, 243, 134);}
[data-category="taide ja kulttuuri"] { background: black;}
[data-category="tiede"] { background: rgb(0, 255, 0);}
[data-category="urheilu"] { background: red;}

.game-header {
    background: black;
    border-radius: 1000px;
    padding: 10px;
    margin: 0 25rem;
}

.player-card {
    background: black;
    border-radius: 1rem;
    padding: 1px;
    color: white;
    display: grid;
    place-items: center;
}

.dice-panel {
    background: black;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    display: grid;
    place-items: center;
}

.dice-box {
    background: black;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    border: 5px solid white;
    display: grid;
    place-items: center;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem; 
}

.player-image {
    width: 60px;
}