body {
    text-align: center;
    background: #0df3a2;
    color: white;
}

.status-panel {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.board {
    background: white;
    padding: 1rem;
    border-radius: 5px;
}

.space {
    
}

.game-header {
    background: black;
    border-radius: 1000px;
    padding: 10px;
    margin: 0 25rem;
}

.dice-panel, 
.player-card {
    background: black;
    border-radius: 1rem;
    padding: 1px;
    color: white;
}

.player-image {
    width: 60px;
}